RewriteEngine On
RewriteBase /
Options -MultiViews

# Pretty route: /men | /women | /kids
RewriteRule ^(men|women|kids)/?$ index.php?section=$1&gender=$1 [QSA,L]

# Pretty route: /plus-size
RewriteRule ^plus-size/?$ index.php?size_type=Plus%20Size [QSA,L]

