-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: sportswh
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `categoryId` int NOT NULL AUTO_INCREMENT,
  `categoryName` varchar(50) NOT NULL,
  PRIMARY KEY (`categoryId`),
  KEY `categoryId` (`categoryId`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
INSERT INTO `category` VALUES (1,'Shoes'),(2,'Helmets'),(3,'Pants'),(4,'Tops'),(5,'Balls'),(6,'Equipment'),(7,'Training Gear');
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item`
--

DROP TABLE IF EXISTS `item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item` (
  `itemId` int NOT NULL AUTO_INCREMENT,
  `itemName` varchar(150) NOT NULL,
  `brand` varchar(50) DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `subcategory` varchar(100) DEFAULT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `salePrice` decimal(10,2) DEFAULT NULL,
  `description` varchar(2000) DEFAULT NULL,
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `categoryId` int NOT NULL DEFAULT '0',
  `categoryName` varchar(100) DEFAULT NULL,
  `parentCategory` varchar(100) DEFAULT NULL,
  `activity_tags` varchar(100) DEFAULT NULL,
  `age_group` varchar(20) DEFAULT NULL,
  `size_type` varchar(20) DEFAULT NULL,
  `fit_style` varchar(20) DEFAULT NULL,
  `images` varchar(2000) DEFAULT NULL,
  `orientation` char(1) NOT NULL DEFAULT 'S' COMMENT '''P'' = portrait, ''L'' = landscape, ''S'' = square (default)',
  `thumbnails_json` text COMMENT 'JSON array of all source-image paths',
  `altText` text,
  `ariaText` text,
  `videoAltText` text,
  `videos` text,
  PRIMARY KEY (`itemId`),
  KEY `itemId` (`itemId`),
  KEY `FK_itemCategory` (`categoryId`),
  CONSTRAINT `FK_itemCategory` FOREIGN KEY (`categoryId`) REFERENCES `category` (`categoryId`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item`
--

LOCK TABLES `item` WRITE;
/*!40000 ALTER TABLE `item` DISABLE KEYS */;
/*!40000 ALTER TABLE `item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_import`
--

DROP TABLE IF EXISTS `item_import`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_import` (
  `brand` varchar(100) DEFAULT NULL,
  `itemName` varchar(255) DEFAULT NULL,
  `subCategory` varchar(100) DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `ageGroup` varchar(20) DEFAULT NULL,
  `sizeType` varchar(20) DEFAULT NULL,
  `activity_tags` varchar(100) DEFAULT NULL,
  `images` varchar(255) DEFAULT NULL,
  `thumbnails_json` text,
  `price` decimal(10,2) DEFAULT NULL,
  `salePrice` decimal(10,2) DEFAULT NULL,
  `description` text,
  `featured` tinyint(1) DEFAULT NULL,
  `categoryId` int DEFAULT NULL,
  `itemID` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_import`
--

LOCK TABLES `item_import` WRITE;
/*!40000 ALTER TABLE `item_import` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_import` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slides`
--

DROP TABLE IF EXISTS `slides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `slides` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_key` varchar(64) NOT NULL,
  `sort_order` int NOT NULL,
  `banner_path` varchar(255) NOT NULL,
  `alt_text` varchar(255) NOT NULL,
  `aria_text` varchar(255) NOT NULL,
  `video_key` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `page_key` (`page_key`),
  KEY `video_key` (`video_key`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slides`
--

LOCK TABLES `slides` WRITE;
/*!40000 ALTER TABLE `slides` DISABLE KEYS */;
/*!40000 ALTER TABLE `slides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surveyresults`
--

DROP TABLE IF EXISTS `surveyresults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `surveyresults` (
  `id` int NOT NULL AUTO_INCREMENT,
  `question_no` int NOT NULL,
  `response_text` text,
  `answered_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surveyresults`
--

LOCK TABLES `surveyresults` WRITE;
/*!40000 ALTER TABLE `surveyresults` DISABLE KEYS */;
/*!40000 ALTER TABLE `surveyresults` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userquestions`
--

DROP TABLE IF EXISTS `userquestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userquestions` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `QuestionNo` int NOT NULL,
  `QuestionText` varchar(255) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userquestions`
--

LOCK TABLES `userquestions` WRITE;
/*!40000 ALTER TABLE `userquestions` DISABLE KEYS */;
/*!40000 ALTER TABLE `userquestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `videos`
--

DROP TABLE IF EXISTS `videos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `videos` (
  `video_key` varchar(64) NOT NULL,
  `page_key` varchar(50) DEFAULT NULL,
  `src_path` varchar(255) NOT NULL,
  `aria_label` varchar(255) NOT NULL,
  PRIMARY KEY (`video_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `videos`
--

LOCK TABLES `videos` WRITE;
/*!40000 ALTER TABLE `videos` DISABLE KEYS */;
/*!40000 ALTER TABLE `videos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-15 11:09:15
