name: Deploy to Cloudways

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SCP
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.CLOUDWAYS_HOST }}
          username: ${{ secrets.CLOUDWAYS_USER }}
          key: ${{ secrets.CLOUDWAYS_SSH_PRIVATE_KEY }}
          port: 22
          source: "./"
          target: ${{ secrets.CLOUDWAYS_PATH }}
          strip_components: 1
          rm: true
          overwrite: true
          exclude: |
            .git/
            .github/
            .vscode/
            node_modules/
            vendor/
            .DS_Store
            Thumbs.db
            README.md
            deploy.yml


