name: Deploy to Cloudways

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.CLOUDWAYS_HOST }}
          username: ${{ secrets.CLOUDWAYS_USER }}
          key: ${{ secrets.CLOUDWAYS_SSH_PRIVATE_KEY }}
          port: 22
          script: |
            mkdir -p ${{ secrets.CLOUDWAYS_PATH }}
            rm -rf ${{ secrets.CLOUDWAYS_PATH }}/*
            cd ${{ secrets.CLOUDWAYS_PATH }}
            git init
            git remote add origin https://github.com/ReubenJFraser/sports-warehouse.git
            git fetch origin
            git checkout origin/main -ft


