/* _shapes.scss */
$md-shape-extra-small: 4px;
$md-shape-small: 8px;
$md-shape-medium: 16px;
$md-shape-large: 24px;
$md-shape-extra-large: 32px;

.rounded-extra-small { border-radius: $md-shape-extra-small; }
.rounded-small { border-radius: $md-shape-small; }
.rounded-medium { border-radius: $md-shape-medium; }
.rounded-large { border-radius: $md-shape-large; }
.rounded-extra-large { border-radius: $md-shape-extra-large; }
